.subHeadr-Nav {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #f9f9f9;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}
.subHdr-ctgryLst {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 40px;
  // align-items: center;
  position: relative;
}
.categorylink {
  text-decoration: none;
  color: #363636;
}
.categoryList {
  font-family: "Noto_Sans_Medium_500";
  font-size: 14px;
}
.categoryList-active {
  border-bottom: 2.3px solid #0055a6;
  text-decoration: none;
  height: 40px;
  padding-top: 7px;
}
.categoryList:hover {
  border-bottom: 1.3px solid #0055a6;
  font-family: "Noto_Sans_Medium_500";
  font-weight: 500;
  height: 40px;
  display: flex;
  align-items: center;
}
