

    
.goog-te-banner-frame{
    display:none !important
}
.goog-te-gadget-icon {
  display:none;
}


.goog-te-gadget-simple {
    background-color: #f9f9f9 !important;
    border:0 !important;
    font-size: 10pt;
   font-weight:400;
    display: inline-block;
    padding:10px 10px !important;
    cursor: pointer;
    zoom: 1;
}

.goog-te-gadget-simple  span {
   color:#000 !important;

}