.CommentBox-col {
  background: #f3f3f3;
  height: 100%;
  padding: 16px;
}
.CommentBox-txt1 {
  font-family: "Noto_Sans_Medium_500";
  color: black;
  font-size: 16;
  margin-bottom: 10px;
}
.CommentItem-box1 {
  // background-color: red;
  display: flex;
  width: 100%;
  padding: 15px;
}
.CommentItem-txt1 {
}
.CommentItem-txt2 {
  font-size: 0.8em;
  color: #8492a6;
}
